{% load static %}

<!-- * DEFAULT STYLES -->
<link rel="stylesheet" href="{% static 'styles/style.css' %}" />
<link rel="stylesheet" href="{% static 'styles/skins/color-1.css' %}" />

<!-- >> END DEFAULT STYLES -->
<!-- * START FONT-AWESOME STYLE -->
<link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
/>
<!-- >> END FONT-AWESOME STYLE -->

<!-- * START STYLE SWITCHER -->
<link
    rel="stylesheet"
    href="{% static 'styles/skins/color-1.css' %}"
    class="alternate-style"
    title="color-1"
    disabled
/>
<link
    rel="stylesheet"
    href="{% static 'styles/skins/color-2.css' %}"
    class="alternate-style"
    title="color-2"
    disabled
/>
<link
    rel="stylesheet"
    href="{% static 'styles/skins/color-3.css' %}"
    class="alternate-style"
    title="color-3"
    disabled
/>
<link
    rel="stylesheet"
    href="{% static 'styles/skins/color-4.css' %}"
    class="alternate-style"
    title="color-4"
    disabled
/>
<link
    rel="stylesheet"
    href="{% static 'styles/skins/color-5.css' %}"
    class="alternate-style"
    title="color-5"
    disabled
/>
<link rel="stylesheet" href="{% static 'styles/style-switcher.css' %}" />
<!-- >> END STYLE SWITCHER -->
